<template>
  <div class="component" :class="{ flash: shouldFlash }">
    COFFEE TIMER
    <div class="timer">{{ minutes }}:{{ seconds }}</div>
    <button @click="start">Start</button>
    <button @click="reset">Reset</button>
  </div>
</template>

<script>
export default {
  name: 'CoffeeTimer',
  data() {
    return {
      intervalId: null,
      current: 300,
      duration: 300,
      shouldFlash: false,
    };
  },
  computed: {
    minutes() {
      return Math.floor(this.current / 60).toString();
    },
    seconds() {
      const sec = this.current % 60;
      return sec < 10 ? `0${sec}` : sec;
    },
  },
  methods: {
    start() {
      this.intervalId = setInterval(() => {
        this.current -= 1;
        if (this.current === 0) {
          clearInterval(this.intervalId);
          this.shouldFlash = true;
        }
      }, 1000);
    },
    reset() {
      clearInterval(this.intervalId);
      this.intervalId = null;
      this.current = this.duration;
      this.shouldFlash = false;
    },
  },
};
</script>

<style scoped>
.component {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  text-align: center;
}
.component.flash {
  animation: blinking 1s infinite;
}
.timer {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  width: 140px;
}
button {
  padding: 10px 15px;
  font-size: 14px;
}
button:first-of-type {
  margin-right: 5px;
}

@keyframes blinking {
  0% {
    background-color: #ff0000;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ff0000;
  }
}
</style>
