<template>
  <div class="fullscreen" @click="fullscreen"></div>
</template>

<script>
export default {
  name: 'FullScreen',
  methods: {
    fullscreen() {
      const container = document.getElementById('container');
      if (container !== null) {
        container.requestFullscreen();
      }
    },
  },
};
</script>

<style scoped>
.fullscreen {
  width: 40px;
  height: 40px;
  background-color: #000000;
}
</style>
