<template>
  <div class="container">
    <FullScreen />
  </div>
</template>

<script>
import FullScreen from '~/components/FullScreen';
export default {
  name: 'MenuBar',
  components: { FullScreen },
};
</script>

<style scoped>
.container {
  width: 40px;
}
</style>
