<template>
  <div id="container" class="container">
    <div class="main">
      <CoffeeTimer />
    </div>
    <div class="sidebar">
      <MenuBar />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import MenuBar from '~/components/MenuBar.vue';
import CoffeeTimer from '~/components/CoffeeTimer.vue';

export default Vue.extend({
  components: {
    MenuBar,
    CoffeeTimer,
  },
});
</script>

<style>
#container {
  background-color: #ffffff;
  height: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 40px;
  background-color: yellow;
}
</style>
